# Archivos de Assets de Unreal que deben ir en LFS
Content/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Content/**/*.umap filter=lfs diff=lfs merge=lfs -text
Content/**/*.ubulk filter=lfs diff=lfs merge=lfs -text
Content/**/*.ufont filter=lfs diff=lfs merge=lfs -text

# Otros archivos binarios comunes
Content/**/*.fbx filter=lfs diff=lfs merge=lfs -text
Content/**/*.png filter=lfs diff=lfs merge=lfs -text
Content/**/*.tga filter=lfs diff=lfs merge=lfs -text
Content/**/*.wav filter=lfs diff=lfs merge=lfs -text
Content/**/*.mp4 filter=lfs diff=lfs merge=lfs -text